<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <style>
    body{
      background-color: blanchedalmond;
    }
    .card-tile
{
    display:inline;
}

a:hover {
    text-decoration: none;
    
}

.card {
    transition: all 0.2s ease-in-out;
    -webkit-transform: all 0.2s ease-in-out;
}

.card:hover {
    -webkit-transform: scale(1.1);
}
body{
      background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.pexels.com/photos/2004161/pexels-photo-2004161.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
      background-size: cover;
    }
  </style>
  <body>
      
      
    <section style="display: flex; justify-content: center; align-items: center;">
        <div class="container">
            <div class="row">
                <div class="col-4 mt-3">
                    <a href="{% url 'index' %}"><button class="btn btn-dark mr-5 mt-3" style="float: left;">Prev</button></a>
                </div>
                <div class="col-4 mt-1">
                    <h1 style="display: inline-block; justify-content: center; font-size: 4em; color: white;">Projects</h1>
                </div>
                <div class="col-4 mt-3">
                    {% if request.user.is_authenticated %}
                <a href="{% url 'postandcomment_app:createProjectPost' %}"><button class="btn btn-primary mr-5 mt-3" style="float: right;">Create Project</button></a>
            {% endif %}
                </div>
            </div>
            
            
            <br>
            <br>
            <div class="row">
                {% for postDetails in posts %}
                <div class="col-md-4">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'postandcomment_app:projectPost' postDetails.id %}" style="text-decoration: none; ">
                        <div class="card mb-3 align-items-center" style="max-width: 1000px; display: flex; justify-content: center; align-items: center; height: 300px;">
                            <div class="row no-gutters">
                            <div class="col">
                                <div class="card-body">
                                <h5 class="card-title">{{postDetails.title}}</h5>
                                <p class="card-text"> <span><i class="fas fa-thumbs-up"></i></span> {{ postDetails.description }}</p>
                                <p class="card-text"><small class="text-muted">{{postDetails.date_posted}}</small></p>
                                <p class="card-text"><small class="text-muted">Post by {{postDetails.author}}</small></p>
                                <p class="card-text"><small class="text-muted">Deadline: {{postDetails.deadline}}</small></p>
        
                                </div>
                            </div>
                            </div>
                        </div>
                    </a>
                    {% else %}
                        <div class="card mb-3 align-items-center" style="max-width: 1000px; height: 300px; display: flex; justify-content: center; align-items: center;">
                            <div class="row no-gutters">
                            <div class="col">
                                <div class="card-body">
                                <h5 class="card-title">{{postDetails.title}}</h5>
                                <p class="card-text"> <span><i class="fas fa-thumbs-up"></i></span> {{ postDetails.description }}</p>
                                <p class="card-text"><small class="text-muted">{{postDetails.date_posted}}</small></p>
                                <p class="card-text"><small class="text-muted">Post by {{postDetails.author}}</small></p>
                                <p class="card-text"><small class="text-muted">Deadline: {{postDetails.deadline}}</small></p>
        
                                </div>
                            </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>